html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

label {
    display: block;
    margin: 5px 0;
    .wrap {
        white-space: pre-wrap;
    }
    span.remark {
        font-style: italic;
        opacity: .5;
    }
}

button
{
    border: 0;
    background: #7575e3;
    color: white;
    box-shadow: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px 0;
}

input[type="checkbox" i]  {
    margin-left: 0;
}

.globalWarning {
    border-radius: 2ch;
    background-color: rgb(255 0 0 / 0.3);
    padding: 3ch;
    margin: var(--globalMargin);
}

:root {
    --globalDark: #ae1515;
    --globalMargin: 1ch;
}

#globalWrapper {
    border-radius: 2ch;
    background-color: rgb(255 0 0 / 0.05);
    border-width: 3px;
    border-style: solid;
    border-color: var(--globalDark);
    padding: 3ch;
    margin: 1ch;
}

#globalWrapper {
    & > label {
        display: block;
        font-weight: bold;
    }
    & textarea {
        width: 100%;
        aspect-ratio: 16/9;
    }
}

    button.red {
    background-color: var(--globalDark);
    margin-inline-start: var(--globalMargin);
}

details.global summary {
    font-weight: bold;
    color: var(--globalDark);
}